<h1>Edit Recipe</h1>

<%# if flash[:message] %>
<%#=flash[:message]%>
<%# end %>


<%= form_for @recipe do |f| %>
  Name: <%= f.text_field :name %><br />
  What User?:<%=f.collection_select( :user_id, User.all, :id, :name)%>
  What Ingredient?:<%=f.collection_select( :ingredient_ids, Ingredient.all, :id, :content)%>
  <%= f.submit "Edit the new recipe" %>
<% end %>

<%= link_to 'Back', recipes_path %>  